li{
	list-style:none;
}
.top_wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	width: 100%;
}
/*USER PROFILE USER PROFILE USER PROFILE */
.user_profile {
	display: flex;
	display: -webkit-flex;
	color:#00c6ff;
	background-color: rgba(255,255,255,0.95);
	box-sizing: border-box;
	padding: 0 4% 10px 4%;
}
.login_page .user_profile{
	/*display: none !important;*/
}
.flex {
	display: flex;
	display: -webkit-flex;
}
button {
	 font-family: 'Montserrat', sans-serif;
}
.text-danger {
	font-size: 0.8em;
	font-weight: 500;
	color: #dd1111;
}
.user_profile p {
	margin: 0 15px;
	color:#00c6ff;
	font-size: 1em;
    font-weight: 400;
    text-align: justify;
	font-family: 'Montserrat', sans-serif;
	height: 20px;
	padding: 3px 7px;
	cursor: default;
}
.user_profile a {
	margin: 0 15px;

    font-weight: 400;
    text-align: justify;
	font-family: 'Montserrat', sans-serif;
}

/* HEADER TOP  HEADER TOP  HEADER TOP */

.header_top{
	width: 100%;
	margin-top: 0;
	position: absolute;
	top:100%;
	z-index: 2;
	padding: 0 2%;
	box-sizing: border-box;
}
.header_logo{
	position: relative;
	width: 110px;
	
}
.header_logo img {
	width: 100%;
	margin-top: 10px;
}
.nav{
	
}
.login_link {
	margin-right: 0 !important;
	padding-right: 0 !important;
}
.links{
	text-align: right;
    color: #00c6ff;
    font-size: 1em;
    padding-right: 50px;
    font-weight: 300;
    margin: 0;
    margin-top: 30px;
	font-size: 1em;


}
.links li{
	list-style:none;
}
.links a{
	padding-right: 1em;
	height: 20px;
}
.acount_manage{
	height: 20px;
    margin-top: 26px;
    
} 
.acount_manage a {
	margin-left: 5px;
	padding: 3px 7px;
	font-size: 1em;
	width: auto;
    text-align: center;
}
.signup {
	color: #fff;
	background-color: #00c6ff;
	border-radius: 20px;
	height: 20px;

}
.language {
	height: 20px;
	margin-top: 40px;
	position: relative;
	margin: 26px 30px 0 auto;
	font-size: 1em;
}
.langbutt {
	padding: 3px 7px;
	color: #00c6ff;
	border-radius: 20px;
	height: 20px;
	z-index: 10;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	border: solid #92e7ff 1px;
    width: 85px;
    text-align: center;
}
.lang_select {
	position: absolute;
	background-color: #00c6ff;
	padding-top: 14px;
	top: 14px;
	left:0;
	padding-bottom:4px;
	border-bottom-right-radius: 14px; 
	border-bottom-left-radius: 14px; 
	display: none;
}
.lang_select button {
	background-color: rgba(0,0,0,0);
	color: #fff;
	border: none; 
	cursor: pointer;
}
.lang_select button:focus {
	outline: none;
}
/*FOOTER FOOTER FOOTER FOOTER FOOTER */
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.footerlogo {
	display: none;
}
.flex_div {
    position: relative;
    
    width: 36%;
	margin-top: 0;
}
#footer a { 
    text-decoration: none;
	color: #006cff;
	font-family: 'Montserrat', sans-serif;
	line-height: 2.5vw;
	font-size: 1.3vw;
	font-weight: 600;
	opacity: 0.8;
	padding-right: 0;
   }
#footer{
	z-index: 2;
	position: relative;
	/*background-image:  url("../img/background4.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 4% 0 5%;

	box-shadow: 0 0px 26px rgba(0,0,0,0.2);
    border-radius-left-top: 30px;
    border-radius-right-top: 30px;
}
#footer ul, #footer li {
	margin: 0;
	padding: 0;
	text-align: left;
	color: #555;
	font-weight: 300;
}
#footer ul li p {
	width: auto !important;
    margin: 0 !important;
    padding-right: 18px;
    display: inline-block;
    color: #555;
    font-weight: 600 !important;
	line-height: 0;
    font-size: 16px;
}
.cp {
	color: #555;
	font-weight: 300;
	text-align: center;
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 0.9em;

}

.tablefooter{
	padding-top: 2vw;
    padding-bottom: 1vw;
	width: 80%;
}
.bottom_text_style{
    font-family: 'Montserrat', sans-serif;
    color: #083a6c;
    font-size: 1.1vw;

	width: 100%;
}
.table_links{
	padding-left: 3vw;
	width: 100%;
}

.fb_link {
	cursor: pointer;
}
.soc_link {
	width: 35px;
	height: 35px;
	background-position: center 100%;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 2vw;
}
.fb {
	background-image: url(../img/facebook_icon_g.svg);
}
.inst {
	background-image: url(../img/instagram_icon_g.svg);
}
.tw {
	background-image: url(../img/twitter_icon_g.svg);
}
.socials{

}
.socials_wrap {
	justify-content: flex-end;
	margin-left: auto;
}
@media screen and (max-width: 1400px){
	.links{
	font-size: 15px;
	}
}
@media screen and (max-width: 800px){
	/*FOOTER*/
.top_wrap{display:none;}
.flex {
    flex-direction: column;
}
.flex_div {
    width: 100%;
}
.bottom_text_style {
	left: 15vw;
	right: 10vw;
	position: relative;
    font-size: 3.5vw;
    line-height: 4vw;
	width: 100%;
	padding-top: 3vw;
	padding-bottom: 10vw;
}
.bottom_text_style td{
	width: 0%;
}

#footer li p {
	width:  105px !important;
}
#footer ul {
	width: 400px;
}
#footer li {
	font-size: 1.3em;
	white-space: nowrap;
}
#footer .socials li {
	width: 120px;
}
.tablefooter{
	width: 80%;
}
.footerlogo{
	display: block;
	margin: 20px 0;
}
.footer_nav {
	margin: 30px 0 !important;
}
.footer_nav li {
	margin: 10px 0 !important;
}
.footerlogo img{
	
	width: 40%;
}
.table_links {
    padding-left: 15vw;
    width: 100%;
	padding-bottom: 10vw;
}
.table_links td{
	width: 0%;
}
#footer a { 
	font-size: 4vw;
    line-height: 6vw;
}
#footer ul li p {
	line-height: 2;
    font-size: 20px;
}
.socials {
    width: 50% !important;
    flex-direction: row;
    margin-bottom: 40px !important;
}

}