html {
	overflow-x: hidden;
}
body{
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	margin: 0;  
}
a {
	text-decoration: none;
	color:inherit;
}
.flex {
	display: flex;
	display: -webkit-flex;
}
.search_ext p {
	font-family: 'Montserrat', sans-serif;
	color: #939393;
	font-size: 1vw;
	font-weight:600;
	
}
h2{
	font-size: 5.5vw;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color: #424242;
	font-size: 20px;
	font-weight:600;
}

#header{ 
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vw;
    position: relative;
    margin-top: 37px;
    max-height: 60%;
    display: flex;
    flex-direction: column;
}
/*background cuttings*/
	.cut{
	position: absolute;
    bottom: -38vw;
    width: 150%;
    transform: rotate(7deg);
    height: 46vw;
    left: -25%;
    background-color: #fff;
}
/*margins, styles, positions*/
    .usedcars{
		text-align: center;
		position: relative;
	}
	.header_content{
		position: relative;
		top: 7%;
	}	
/*links*/
  
/*form*/
	.header_form{
	   width: 60%;
	   padding: 12px 0;
	   background-color: rgba(239, 162, 41, 0.8);
	   margin: auto;
	   border-radius: 22px;
	   margin-top: 10px;
	   margin-bottom: 20px;
	   max-width: 500px;
   }
    .header_form input{
	   height: 20px;
	   width: 100%;
	   box-sizing: border-box;
	   padding: 0 20px;
	   background-color: rgba(0, 0, 0, 0);
	   border: none;
	   font-size: 1.2em;
	   font-family: 'Montserrat', sans-serif;
	   font-style: italic;
   }
    .header_form input:focus{
	   outline: none;
   }
#sell_search{
	z-index: 1;
	position: relative;
	height: auto;
}
.searchlabel input{
	background-color: #00c6ff;
    padding: 7px 15px;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
	width: 200px;
    height: 40px;
}
input:focus {
outline: none;
}
	.choose_car_type, .choose_brand, .choose_model,


			/*id_3*/
#table_cars{	
	z-index: 2;
	position: relative;
}

/*wrapping*/
    .wrap{
		width:80%;
		flex-wrap:wrap;
		margin: auto;
		}

		.logo {

		width:22%;
		position: relative;
		background-size: contain;
		background-position: center center;
		background-repeat: none;
		opacity: 1;
		margin: 1%;
		display: inline-block;
		transition: all ease 0.3s;
		margin-bottom: 57px;
		}

		.logo .img {
			width: 100%;
			height: 0;
			padding-top: 100%;
			position: relative;
			justify-content: center;
			-webkit-justify-content: center;
		}
		.logo:hover {
			color: #00c6ff;
		}
		.logo .img_wrap {
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			justify-content: center;
			-webkit-justify-content: center;
			box-shadow: 0px 5px 15px rgba(0,0,0,0.3)
		}
		.logo .img img {
			height: 100%;
			width: auto;
		}
		.bg_cover {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #376fba;
			opacity: 0;

			transition: all ease 0.3s; 
		}
		.bg_cover:hover{
			opacity: 0.4;
		} 
		.text{
	text-align: center;
	margin-top: 0px;
	top: 95.5%;
	width: 100%;
	position: absolute;
}
.text h3 {
	margin: 0;
}
.text p {
	margin: 0;
}
.compare_butt {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 60px;
    background-color: transparent;
    z-index: 3;
    background-size: 68%;
    display: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/compare.png);
}
.compare_box {
	width: 250px;
	position: fixed;
	top: 79px;
	right: 0;
	z-index: 4;
    color: #fff;
    height: 40px;
}
.compare_toggle {
    padding: 5px;
    height: 30px;
    z-index: 1;
    position: relative;
	background-color: #00c6ff;
	border-radius: 20px 0 0 20px;
	box-shadow: 5px 0 5px rgba(0,0,0,0.4)

}
.compare_toggle a{
	height: 30px;
	line-height: 30px;
	margin: 0 0 0 20px;
	cursor: pointer;
}

.comp_icon {
	width: 70px;
	height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255,255,255,0.1);
	border-top: solid grey 2px;
}
.compare_box .car, .compare_box .carEmpty  {
	position: relative;
	width: 100%;
	height: 50px;
}
.compare_content {
	display: none;
	background-color: #eee;
	position: relative;
	top:-15px;
	width: 250px;
	box-sizing: border-box;
	padding: 10px;
	padding-top: 25px;
}
.compare_box .remove_comp {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 50%;
	background-color: blue;
}
.comp_info{
	color: #777;
}
.comp_info h5{
	margin: 0;
}
.comp_info p{
	font-size: 0.85em;
	line-height: 1em;
	height: 1em;
	margin: 0;
}
	
/*Search engine style*/
	
.search_ext {
	width: 72%;
	margin: auto;
	margin-top: -6vw;
}
.prev, .next {
	position: absolute;
	width: 50px;
	height: 100%;
	top: 0;
	background-color: rgba(255,255,0255,1);
	z-index: 100;
	line-height: 124px;
	font-size: 60px;
	cursor: pointer;
	color: #00c6ff;

}
.prev {
	left:0px;
}
.next {
	right:0px;
}


	input[type=checkbox] {
	visibility: hidden;
	display: none;
}
	#brand label{
	display: inline-block;
	width: 120px;
	height: 120px;
	transition: all .5s ease;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
}
.groupLabel {
	background-color: #00c6ff;
	color: #fff;
	height: 40px;
	border-radius: 20px;
	width: 200px;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}
.brand_wrap {
	
	box-sizing: border-box;
	padding-right: 50px;
	position: relative;
	width: 100%;
}
.brand_logo {
	display: inline-block;
	margin-bottom: 25px;
	height: 50px;
	
	min-width: 80px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}
.brand_logo h5 {
	margin: 0;
	color:#939393;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 100%;
}
.inputs {
	
	width: calc(100% - 80px);
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-content: space-around;
	align-items: center;
	-webkit-align-content: space-around;
	-webkit-align-items: center;

}
.inputs label {
	
	margin: 7px 10px;
	padding: 3px 5px;
	border-radius: 60px;
	max-height: 20px;
	cursor:pointer;

}
.large_filters {
	margin-left: 20px;
}
.small_filters {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.small_filters input {
	margin: 7px 0;
}
.small_filters select {
	margin: 7px 0;
}

.line_select, .optionselect {
	margin: 20px;
}
.optionselect {
	flex-direction: column;
	-webkit-flex-direction: column;
}
.range_select .groupLabel {
	width: 100%;
}

.carType label {
	display: inline-block;
	width: 120px;
	padding-top: 120px;
	transition: all .5s ease;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	text-align: center;
}
#label_coupe {
	background-image: url(../img/car_types/coupe_g.png);
}
#label_minivan {
	background-image: url(../img/car_types/minivan_g.png);
}
#label_pickup {
	background-image: url(../img/car_types/pickup_g.png);
}
#label_sedan {
	background-image: url(../img/car_types/sedan_g.png);
}
#label_universal {
	background-image: url(../img/car_types/universal_g.png);
}
#label_offroad {
	background-image: url(../img/car_types/offroad_g.png);
}
#label_sport {
	background-image: url(../img/car_types/sport_g.png);
}
#label_van {
	background-image: url(../img/car_types/van_g.png);
}
#label_hatchback {
	background-image: url(../img/car_types/hatchback_g.png);
}
#label_other {
	background-image: url(../img/car_types/other_g.png);
}
.carType input[type=checkbox]:checked + #label_coupe{
	background-image: url(../img/car_types/coupe.png) !important;
}
.carType input[type=checkbox]:checked + #label_minivan{
	background-image: url(../img/car_types/minivan.png) !important;
}
.carType input[type=checkbox]:checked + #label_pickup{
	background-image: url(../img/car_types/pickup.png) !important;
}
.carType input[type=checkbox]:checked + #label_sedan{
	background-image: url(../img/car_types/sedan.png) !important;
}
.carType input[type=checkbox]:checked + #label_universal{
	background-image: url(../img/car_types/universal.png) !important;
}
.carType input[type=checkbox]:checked + #label_offroad{
	background-image: url(../img/car_types/offroad.png) !important;
}
.carType input[type=checkbox]:checked + #label_sport{
	background-image: url(../img/car_types/sport.png) !important;
}
.carType input[type=checkbox]:checked + #label_van{
	background-image: url(../img/car_types/van.png) !important;
}
.carType input[type=checkbox]:checked + #label_hatchback{
	background-image: url(../img/car_types/hatchback.png) !important;
}
.carType input[type=checkbox]:checked + #label_other{
	background-image: url(../img/car_types/other.png) !important;
}
.range_select {
	width: 20%;
	position: relative;
	min-width: 305px;
}
.range_select input {
	width: 30%;
}

/*SELECTED FILTERS   SELECTED FILTERS   SELECTED FILTERS   */

.filter_group {
 		min-width: 50px;
 		
 		margin: 5px;
 		display: inline-block;
 		color:white;
 		background-color: #00c6ff;
 		border-radius: 20px;
 		padding: 10px;
 		position: relative;
 		padding-left: 30px;
 	}
 	.clear, .remove {
 		cursor: pointer;
 		position: absolute;
 		top: 3px;
 		left: 0;
 		width: 15px;
 		height: 15px;
 		background-color: #fff;
 		border-radius: 50%;
 		background-image: url(../img/exit.png);
 		background-size: 80%;
 		background-position: center center;
 		background-repeat: no-repeat;

 	}
 	.remove_group, .clear_group, .deselect_group {
 		position: absolute;
 		left: 10px;
 		top: 13px;
 		background-image: url(../img/exit.png);
 		background-size: 80%;
 		background-position: center center;
 		background-repeat: no-repeat;
 		width: 15px;
 		height: 15px;
 		background-color: #fff;
 		border-radius: 50%;
 		cursor: pointer;
 		
 	}
 	.filter_item {
 		padding-left: 20px;
 		position: relative;
 		margin-right: 15px;
 	}
 	.filter_item label {
 		margin-right: 4px;
 	}
 	.model_wrap {
 		position: relative;
 		padding-left: 18px;
 	}



#brand{
	border-left: solid 50px rgba(255 ,255 ,255 ,1);
	border-right: solid 50px rgba(255 ,255 ,255 ,1);
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.search_ext .wrap{
	white-space: nowrap;
	position: relative;
	width: 100%;
}


@media screen and (max-width: 800px){
.links{
	font-size: 1.2em;
	}
.usedcars h2{
	font-size: 12vw;
    padding: 2vw;
    margin-bottom: 30px;
	}
#header{
	margin-top: 0;
	height: 60vw;
}
.header_content {
    top: 10%;
}
.compare_box {
	display:none;
}
}